<!-- Modal -->
<style>
    /*
    .modal-content {
        margin: 0 auto;
        width: 380px;
        z-index: 9999;
        background: #ffffff;
    }
    .modal-content .modal-header {
        font-size: 14px;
        padding: 3px 10px;
    }
    .modal-content .modal-body {
        padding: 15px 15px;
    }
    .modal-content .modal-body h4.media-heading {
        color: #333;
        margin-top: 5px;
    }
    .modal-content .modal-body h4.media-heading.mg {
        margin-top: 15px;
    }
    .modal-content .modal-footer {
        margin-top: 0;
        padding: 10px 15px;
    }
    .modal-content .modal-footer button.btn {
        margin-left: 10px;
    }
    */
</style>

<!--
            <div class="modal-header">
                <i class="fa {{ icons.icon}}" style="font-size: 15px; color: {{icons.color}};"></i>
                <span style="font-style: normal;">成功提示</span></div>
            <div class="modal-body">
                <div class="media">
                    <div class="pull-left" style="margin-right: 15px;">

                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" ng-class="{mg: content == ''}" ng-bind="title"></h4>
                        <p ng-show="content" ng-bind="content"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs"
                        ng-class="{'btn-info': (buttons.length - 1) == $index && type == 'alert' && !btn.type, 'btn-danger': (buttons.length - 1) == $index && type == 'error' && !btn.type, 'btn-success': (buttons.length - 1) == $index && type == 'success' && !btn.type, 'btn-default': btn.type == 'cancel'}"
                        ng-repeat="($index, btn) in buttons" ng-bind="btn.name" ng-click="btn.click()"></button>
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                <a href="javascript:;" class="btn btn-sm btn-success" ng-click="close()">Action</a>
            </div>
-->

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Modal Message Header</h4>
    </div>
    <div class="modal-body">
        <p>Text in a modal</p>
        <p>Do you want to turn on location services so GPS can use your location ?</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
        <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="close()">Save Changes</a>
    </div>
</div>